In [6]:
import numpy as np
import pandas as pd

#### The Basics

In [20]:
a = np.array([11, 22, 33], dtype = "int32")
a

array([11, 22, 33])

In [8]:
b = np.array([[11, 22, 33], [1, 2, 3]])
pd.DataFrame(b)

    0   1   2
0  11  22  33
1   1   2   3

In [11]:
# Get Dimension
b.ndim

2

In [13]:
# Get Shaep
b.shape

(2, 3)

In [17]:
# Get Type
a.dtype

dtype('int16')

In [27]:
# Get Size
print(a.itemsize) # byte
print(b.itemsize)

4
4

In [26]:
# Get total size
print(a.nbytes)
print(b.nbytes)

12
24

#### Accessing/Changing specific elements, rows, columns, etc

In [28]:
a = np.array([list(range(1, 8)), list(range(8, 15))])
print(a)

[[ 1  2  3  4  5  6  7]
 [ 8  9 10 11 12 13 14]]

In [32]:
# Get a specific element [r, c]
a[1, 4] ,a[1, -2]

(12, 13)

In [31]:
# Get a specific row
a[0, :]

array([1, 2, 3, 4, 5, 6, 7])

In [34]:
# Get a specific columns
a[:, 2]

array([[ 3,  4],
       [10, 11]])

In [36]:
# Getting a little more fancy [startindex:endindex:stepindex]
a[0, 1:6:2]

array([2, 4, 6])

In [42]:
a[1,5] = 20
print(a)
a[:,2] = [100,200]
print(a)

[[ 1  2  1  4  5  6  7]
 [ 8  9  2 11 12 20 14]]
[[  1   2 100   4   5   6   7]
 [  8   9 200  11  12  20  14]]

#### *3-d example

In [43]:
b = np.array([[[1,2,], [3, 4]], [[5, 6], [7, 8]]])
b

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [44]:
# Get specific element (work outside in)
b[0,1,1]

4

In [47]:
# replace
b[:,1,:] = [[11, 22], [33, 44]]
b

array([[[ 1,  2],
        [11, 22]],

       [[ 5,  6],
        [33, 44]]])

#### Initializing Different Types of Arrays

In [51]:
# All 0s matrix
np.zeros((3, 2, 2))

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]])

In [53]:
# All 1s matrix
np.ones((3, 2, 2), dtype = "int32")

array([[[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]],

       [[1, 1],
        [1, 1]]])

In [57]:
# Any other number
np.full((2,2), 100, dtype = "float32")

array([[100., 100.],
       [100., 100.]], dtype=float32)

In [58]:
# Any other number (full_like)
np.full_like(a, 100)

array([[100, 100, 100, 100, 100, 100, 100],
       [100, 100, 100, 100, 100, 100, 100]])

In [60]:
# Random decimal numbers (난수 생성)
np.random.rand(4, 2, 3)

array([[[0.83756739, 0.80111341, 0.56755513],
        [0.26289178, 0.00316858, 0.30462121]],

       [[0.38593714, 0.59153325, 0.69748397],
        [0.96840128, 0.42204424, 0.51631645]],

       [[0.73563847, 0.65211568, 0.31254425],
        [0.78490314, 0.09502903, 0.77586436]],

       [[0.89615667, 0.61427349, 0.69787685],
        [0.15398179, 0.1779756 , 0.76241037]]])

In [61]:
# Random decimal numbers (shape)
np.random.random_sample(a.shape)

array([[0.68358609, 0.73918213, 0.33602744, 0.2703538 , 0.96523753,
        0.29996172, 0.87946917],
       [0.51619464, 0.28362789, 0.95360691, 0.55671915, 0.21898198,
        0.51076126, 0.40558385]])

In [73]:
# Random Integer values
np.random.randint(-4, 9, size =(2, 2, 4))

array([[[ 8,  7, -3,  7],
        [ 5,  4, -1,  4]],

       [[ 4,  7,  3, -1],
        [ 3,  3, -2,  3]]])

In [74]:
# The identity matirx
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [82]:
# Repeat an array

arr = np.array([[1, 2, 3], [4, 5, 6]])
r1 = np.repeat(arr, 3, axis = 0)
print(r1)

[[1 2 3]
 [1 2 3]
 [1 2 3]
 [4 5 6]
 [4 5 6]
 [4 5 6]]

In [83]:
arr.shape

(2, 3)

In [84]:
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [85]:
arr = np.array([[1,2,3]])
np.repeat(arr, 3, axis = 0)

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [89]:
a = np.ones((5, 5))
a[1:4, 1:4] = 0

pd.DataFrame(a)

     0    1    2    3    4
0  1.0  1.0  1.0  1.0  1.0
1  1.0  0.0  0.0  0.0  1.0
2  1.0  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0  1.0
4  1.0  1.0  1.0  1.0  1.0